body {
  margin: 0;
  padding: 0;
  background-color: #536878;
}

#homeScreenContainer{
	height: 100vh;
	transition: opacity 0.5s;
}

#wideInput{
	width: 400px;
}

.chart{
	margin: 10px auto;
}

.segoe{
	font-family: "Segoe UI", Helvetica, sans-serif;
}

#yAxisLabel{
	position: absolute;
	top: 0px;
	left: 2vw;
	color: #dce5ed;
}

#xAxisLabel{
	position: absolute;
	bottom: -3vh;
	right: 2vw;
	color: #dce5ed;
}

.container-fluid{
	position:relative;
}


.progress{
	position: absolute;
	top: 0;
}

.App{
	transition: opacity 0.5s;
}

.show{
	opacity: 1;
}

.hide{
	opacity: 0;
}

.redBorder{
	border-color: red;
}

.whiteBorder{
	border-color: white;
}

.centerContainer{
	position: relative;
	top: 30vh;
}

.suggestions{
	position: relative;
	left: 25%;
}

.clickable{
	cursor: pointer; 
}

.fade{
	transition: opacity 0.5s;
}

#about{
	color: white;
	position: absolute;
	bottom: 10px;
	left: 15px;
}